:root {
    --font-color: rgb(189, 189, 189);
}

body {
    background-color: rgb(18, 18, 18);
    font-family: monospace;
    padding: 25px;
}

body::-webkit-scrollbar {
    width: 0.30rem;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.method-container {
    margin: 30px 0px;
}

.code-heading-container {
    background-color: rgb(73, 73, 73);
    padding: 1px;
    border-left: 5px solid rgb(184, 184, 184);
}

.code-heading {
    margin: 5px;
}

#colored-get {
    color: orange;
}

#colored-get-random {
    color: rgb(255, 92, 92);
}

#colored-get-id {
    color: rgb(50, 249, 90);
}

.method-info {
    font-weight: bold;
    color: var(--font-color);
    font-size: 16px;
}

.code-block {
    color: white;
}

.flex-container {
    display: flex;
    gap: 10px;


}

#id-input {
    background-color: transparent;
    padding: 2px;
    color: white;
    font-weight: bold;
    outline: none;
    border: 2px solid white;
    padding: 2px 5px;
    border-radius: 5px;
}

.test-button {
    padding: 5px 10px;
    color: rgb(18, 18, 18);
    background-color: rgb(233, 233, 233);
    border-color: rgb(18, 18, 18);
    border-radius: 5px;
    font-weight: bolder;
    font-size: 16px;
    font-family: monospace;
    transition: all 0.2s;
}

.test-button:hover {
    background-color: rgb(213, 213, 213);
}

.method-text {
    color: var(--font-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
}

#logo {
    width: 8rem;

}

#main-ul {
    display: flex;
    gap: 20px;
}

.hyperlinks {
    color: var(--font-color);
    list-style: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s;
}

.hyperlinks:hover {
    color: white;
}

.hyperlinks {
    text-decoration: none;
}

#credit-text {
    color: var(--font-color);
    margin: 0px;
    text-align: center;
}

i {
    color: red;
}