<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Usage</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

    <script src="{{ url_for('static', filename='scripts/api.js') }}" type="text/javascript" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/api.css') }}">


</head>

<body>


    <div id="options_container">
        <a href="/" id="home_link">
            < Back to Home</a>
    </div>
    <!----------------- /get Method ----------------->
    <div class="method_container">

        <div class="code_heading_container">
            <h3 class="code_heading"><span id="colored_get">/api </span> <span class="method_text">method</span></h3>
        </div>

        <div class="method_info_container">
            <p class="method_info">
                Renders this webpage.
            </p>
        </div>

    </div>

    <!----------------- /get/random Method ----------------->
    <div class="method_container">

        <div class="code_heading_container">
            <h3 class="code_heading"><span id="colored_get_random">/api/random </span> <span
                    class="method_text">method</span></h3>
        </div>

        <div class="method_info_container">
            <p class="method_info">
                Returns a random joke from the dataset in JSON Format.
            </p>
        </div>

        <div class="try_it_container">

            <button class="test_button" id="random_test_button">Test</button>

            <div class="output_container">
                <pre>
                    <code id="get_random_code_block">
                    </code>
                </pre>

            </div>
        </div>

    </div>

    <!----------------- /get/id/<int:id> Method ----------------->
    <div class="method_container">

        <div class="code_heading_container">
            <h3 class="code_heading"><code id="colored_get_id">/api/id/&ltint:id&gt </code> <span
                    class="method_text">method</span></h3>
        </div>

        <div class="method_info_container">
            <p class="method_info">
                Returns a random joke from the dataset with the specified id in JSON Format.
                &ltint:id&gt is the paramter to pass while requesting the webpage. It accepts an Integer.
            </p>
        </div>

        <div class="try_it_container">

            <div class="flex_container">
                <button class="test_button" id="id_test_button">Test</button>
                <input type="number" id="id_input" placeholder="Joke ID">

            </div>

            <div class="output_container">
                <pre>
                    <code id="get_by_id_code_block">
                    
                    </code>
                </pre>

            </div>

        </div>

</body>



<script>
    hljs.highlightAll()

</script>




</html>