<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="scripts/home.js" defer></script>

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/home_style.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <title>Home</title>
</head>

<body>


    <div id="navbar">

        <div id="logo_container">
            <img src="images/newlogo.svg" alt="Logo" id="logoimage" class="main_container_contents">
        </div>

        <div id="links_container">
            <ul>
                <li><a href="/api" class="hyperlinks">API Usage</a></li>
                <li><a href="https://www.github.com/TheFallen-Cat" class="hyperlinks">Github</a></li>
                <li><a href="/about" class="hyperlinks">About</a></li>
                <li><a href="https://ko-fi.com/abhayshukla" class="hyperlinks">Support</a></li>
            </ul>
        </div>
    </div>

    <div id="joke_container">
        <div id="joke_data_container">
            <p id="joketext">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum dolorum ullam deleniti
                voluptates.
                Modi reiciendis eos laborum magnam dolor recusandae excepturi cumque aliquam doloremque, perspiciatis,
                praesentium veritatis dolorem mollitia. Sint!
            </p>

            <div id="button_container">
                <button id="random_joke_button"> <i class="fa fa-rotate-right" style="font-size:18px;color: white;"></i>
                    Random
                </button>
            </div>
        </div>
    </div>


</body>

</html>